# Create these here: server/.env

# PostgreSQL connection string (for queries)
DATABASE_URL="postgresql://user:password@localhost:5432/messaging_app" # Add your own

SECRET="TOKEN SECRET"
# Cloudinary connection (for image storage)
# Add your own or modify API endpoints to use local folder
CLOUDINARY_CLOUD_NAME="someCloudName"
CLOUDINARY_API_KEY="1234567890"
CLOUDINARY_API_SECRET="sOmE-sEcReT-aPi"
